---
import Layout from "../layouts/Layout.astro";
import Company, {
  type Props as CompanyProps,
} from "../components/Company.astro";
import json from "../../data.json";

const companies: CompanyProps[] = json.map((company) => ({
  isNew: company.new,
  isFeatured: company.featured,
  ...company,
}));
---

<Layout title="Frontend Mentor | Job Listings">
  <main class="overflow-hidden font-League_Spartan">
    <ul class="mt-14 grid gap-y-10 md:mt-[75px]">
      {
        !!companies &&
          companies.map((company: CompanyProps) => (
            <li class="mx-auto w-[calc(325vw/3.75)] min-w-[325px]">
              <Company {...company} />
            </li>
          ))
      }

      <!-- {
        !!companies && (
          <li class="mx-auto w-[calc(325vw/3.75)] min-w-[325px] max-w-[1110px]">
            <Company {...companies[0]} />
          </li>
        )
      } -->
    </ul>
  </main>
</Layout>
