---
import Layout from "../layouts/Layout.astro";
import Filter from "../islands/Filter";
import CompanyList from "../islands/CompanyList";
---

<Layout title="Frontend Mentor | Job Listings">
  <main class="relative min-w-[375px] font-League_Spartan">
    <Filter client:load />
    <CompanyList client:load />    
  </main>
</Layout>
