---
export type Props = {
  isFeatured: boolean;
};

const { isFeatured } = Astro.props;
---

<section
  class={`
    ${isFeatured && "border-l-4 border-desaturated-dark-cyan pl-5 md:pl-9"} 
    ${!isFeatured && "pl-6 md:pl-10"}
    relative pr-6 pb-6 pt-8 md:py-8 md:pr-10 bg-white rounded-md md:grid md:grid-cols-[auto_auto_1fr] md:gap-x-6
  `}
>
  <slot />
</section>
