---
const { label, canRemove } = Astro.props;
---

{
  canRemove ? (
    <article class="grid grid-flow-col">
      <h3 class="rounded-l-lg bg-light-grayish-cyan-fg px-2 py-[10px] text-base leading-none text-desaturated-dark-cyan">
        {label}
      </h3>
      <button class="text-bold rounded-r-lg bg-desaturated-dark-cyan px-2 py-[10px] text-base leading-none text-white hover:bg-very-dark-grayish-cyan">
        X
      </button>
    </article>
  ) : (
    <button class="rounded-lg bg-light-grayish-cyan-fg px-2 py-[10px] text-base leading-none text-desaturated-dark-cyan hover:bg-desaturated-dark-cyan hover:text-white">
      {label}
    </button>
  )
}
